.footer {
    border-top: 0.5px solid #FFFFFF26;

    padding: 70px 0 100px;
    .container{
        display: flex;
        justify-content: space-between; 
        @media (max-width:1024px){
            flex-direction: column;
            align-items: center;
            gap: 70px;
        }   
    }
    &_list{
        display: flex;
        justify-content: space-between;
        column-gap: 100px;
        @media (max-width:1024px){
            column-gap: 40px;
        }
        @media (max-width:767px){
            flex-direction: column;
            align-items: center;
            column-gap: 0;
            row-gap: 40px;
            width: 260px;
            margin: 0 auto;
        }
    }

    &_item {
        @media (max-width:767px){
            width: 100%;
        }
    }
    &_info{
        max-width: 260px;
    }
    &_logo_wrap{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 25px;
    }
    &_logo{
        font-weight: 600;
        font-size: 22px;
        @include textColor(0.9);
    }
    .img_wrap{
        background-color: #FF6E30;
            display: flex;
            width: 38px;
            height: 38px;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
    }
    &_copyright{
        font-size: 16px;
        font-weight: 500;
        @include textColor(0.9);
        margin-bottom: 21px;
    }
    &_description{
        font-size: 14px;
    }
    .item{
        &_title{
            font-size: 20px;
            font-weight: 500;
            @include textColor(0.9);
            margin-bottom: 20px;
        }
        &_link{
            font-size: 16px;
            font-weight: 500;
            @include textColor(0.55);
            transition: all 0.3s;
            &:hover{
                color: #FF6E30;
            }
            
        }
        &_item{
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }

}