// header
.header {
    margin: 26px 0 104px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
        column-gap: 21px;
<<<<<<< HEAD
    }
    h1 {
        margin: 0;
=======

    }
    h1 {
>>>>>>> 38c9019 (header)
        display: inline;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 600;
        font-size: 1.2222222em;
        line-height: 33px;
    }
<<<<<<< HEAD
    nav {
        @media (max-width:768px) {
            position: absolute;
            right: 108px;
            top: 45px;
            opacity: 0;
        }
    }
    .menu-list {
        margin: 0;
        padding: 0;
=======
    .menu-list {
>>>>>>> 38c9019 (header)
        list-style: none;
        display: flex;
        justify-content: space-between;
        column-gap: 35px;
<<<<<<< HEAD
        @media (max-width:768px) {
            flex-direction: column;
            align-items: flex-end;
        }
        &-link {
            text-align: center;
            text-decoration: none;
            color: hsla(0, 0%, 100%, 0.549);
            font-weight: 500;
            font-size: 0.888888em;
            line-height: 24px;
            display: inline-block;
        }
    }
    .categories-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 35px;
        position: absolute;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform 0.3s;
        @media (max-width:768px) {
            flex-direction: unset;
            top: 26px;
            right: 110px;
            column-gap: 10px;
        }
=======
>>>>>>> 38c9019 (header)
        &-link {
            text-decoration: none;
            color: #FFFFFF8C;
            font-weight: 500;
            font-size: 0.888888em;
            line-height: 24px;
        }
    }
<<<<<<< HEAD
    .header-buttons {
        text-align: center;
    }
    .login {
        text-align: center;
        display: inline-block;
        background: none;
        border-radius: 8px;
        border: none;
        width: 118px;
        height: 48px;
=======
    .categories {
        display: none;
    }
    .login {
        background: none;
        border: none;
>>>>>>> 38c9019 (header)
        color: #FFFFFF8C;
        font-weight: 600;
        font-size: 0.88888em;
        line-height: 24px;
<<<<<<< HEAD
        margin-right: 13px;
        padding: 0;
        transition: color 0.3s, background-color 0.5s;
        &:hover {
            background-color: $btnBackground;
            color: #FDF5FF;
        }
    }
    .sing-in {
        text-align: center;
        display: inline-block;
        background: none;
        border-radius: 8px;
        border: none;
        width: 118px;
        height: 48px;
=======
        margin-right: 41px;
    }
    .sing-in {
        width: 118px;
        height: 48px;
        border-radius: 8px;
        background-color: $btnBackground;
        border: none;
>>>>>>> 38c9019 (header)
        color: #FFFFFF8C;
        font-weight: 600;
        font-size: 0.88888em;
        line-height: 24px;
<<<<<<< HEAD
        margin-right: 13px;
        padding: 0;
        transition: color 0.3s, background-color 0.5s;
        &:hover {
            background-color: $btnBackground;
            color: #FDF5FF;
        }
    }
}
.menu-list-link-sub {
    display: inline-block;
    text-decoration: none;
    width: 105px;
    font-weight: 500;
    font-size: 0.888888em;
    line-height: 24px;
    color: #FFFFFF8C;
    &::after {
        content: '';
        width: 7px;
        height: 7px;
        position: relative;
        transform: rotate(45deg);
        display: inline-block;
        left: 5px;
        bottom: 2px;
        border-bottom: 3px solid;
        border-right: 3px solid;
        border-color: #FFFFFF8C;
        border-radius: 2px;
    }
    &:hover ~ .categories-list {
        transform: scaleY(1);
    }
    &:hover::after { 
        transform: rotate(225deg);
        bottom: -2px;
        left: 5px;
    }
}
// mobile menu
#burger-btn {
    display: none;
    &:checked ~ nav {
        opacity: 1;
    }
}
.burger-menu {
    display: none;
    @media (max-width:768px) {
        display: flex;
        align-items: center;
        width: 25px;
        height: 25px;
    }  
    span {
        position: relative;
        display: block;
        width: 25px;
        height: 3px;
        background-color: $btnBackground;
        &::after {
            position: absolute;
            top: -7.5px;
            display: block;
            content: '';
            width: 25px;
            height: 3px;
            background-color: $btnBackground;
        }
        &::before {
            position: absolute;
            top: 8px;
            display: block;
            content: '';
            width: 25px;
            height: 3px;
            background-color: $btnBackground;
        }
    }
}
.categories-label {
    font-weight: 500;
    font-size: 0.888888em;
    line-height: 24px;
    
    span {
        display: inline-block;
        width: 8px;
        height: 2px;
        background-color: #FFFFFF8C;
        
>>>>>>> 38c9019 (header)
    }
}