// header
.header {
    padding: 26px 0 0;
    @media (max-width:768px) {
        padding-bottom: 26px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover .header-buttons button {
            background-color: $btnBackground;
            color: #FDF5FF;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        column-gap: 21px;
    }

    h1 {
        margin: 0;
        display: inline;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 600;
        font-size: 1.2222222em;
        line-height: 33px;
    }

    nav {
        @media (max-width:768px) {
            position: absolute;
            right: -100%;
            top: 60px;
            background: #1E252B;
            border-radius: 0 0 10px 10px;
            box-shadow: -5px 5px 5px -1px $btnBackground;
            transition: right .1s, opacity .5s;
            opacity: 0;
            padding: 0 10px;
        }
        @media (max-width:605px) {
            padding-bottom: 90px;
            padding-left: 20px;
            border-radius: 0 0 0 10px;

        }
    }
    
    .menu-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        column-gap: 35px;
        @media (max-width:768px) {
            flex-direction: column;
            align-items: flex-end;
        }
        
        &-link {
            text-align: center;
            text-decoration: none;
            color: hsla(0, 0%, 100%, 0.549);
            font-weight: 500;
            font-size: 0.888888em;
            line-height: 24px;
            display: inline-block;
        }
    }

    .categories-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        left: 0;
        flex-direction: column;
        column-gap: 35px;
        position: absolute;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform 0.3s;
        @media (max-width:768px) {
            flex-direction: unset;
            left: -119px;
            bottom: 0px;
            column-gap: 10px;
            transform: scaleX(0);
            transform-origin: right;
            background: #1E252B;
            border-radius: 10px 0 0 10px;
            box-shadow: -5px 0 5px 0px $btnBackground;
        }
        @media (max-width:600px) {
            left: -112.5px;
        }
        
        &-link {
            text-decoration: none;
            color: #FFFFFF8C;
            font-weight: 500;
            font-size: 0.888888em;
            line-height: 24px;
        }
    }

    .header-buttons {
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        column-gap: 13px;
        @media (max-width:605px) {
            position: absolute;
            right: -100%;
            top: 190px;
            opacity: 0;
            flex-direction: column;
            row-gap: 13px;
            transition: right .1s, opacity .5s;
        }
    }

    .login {
        text-align: center;
        display: inline-block;
        background: none;
        border-radius: 8px;
        border: none;
        width: 118px;
        height: 48px;
        color: #FFFFFF8C;
        font-weight: 600;
        font-size: 0.88888em;
        line-height: 24px;
        padding: 0;
        transition: color 0.3s, background-color 0.5s;

        &:hover {
            background-color: #a0461f !important;
        }
        @media (max-width:1024px) {
            width: 100px;
            height: 40px;
        }
        @media (max-width:605px) {
            width: 85px;
            height: 25px;
        }
    }

    .sing-in {
        text-align: center;
        display: inline-block;
        background: none;
        border-radius: 8px;
        border: none;
        width: 118px;
        height: 48px;
        color: #FFFFFF8C;
        font-weight: 600;
        font-size: 0.88888em;
        line-height: 24px;
        padding: 0;
        transition: color 0.3s, background-color 0.5s;

        &:hover {
            background-color: #a0461f !important;
        }
        @media (max-width:1024px) {
            width: 100px;
            height: 40px;
        }
        @media (max-width:605px) {
            width: 85px;
            height: 25px;
        }
    }
}

.menu-list-item-sub {
    text-decoration: none;
    position: relative;

    &::after {
        content: '';
        width: 7px;
        height: 7px;
        position: relative;
        transform: rotate(45deg);
        display: inline-block;
        left: 5px;
        bottom: 2px;
        border-bottom: 3px solid;
        border-right: 3px solid;
        border-color: #FFFFFF8C;
        border-radius: 2px;
    }

    &:hover .categories-list {
        transform: scaleY(1);
        @media (max-width:768px) {
            transform: scaleX(1);
        }
        
    }

    &:hover::after { 
        transform: rotate(225deg);
        bottom: -2px;
        left: 5px;
    }
}

// mobile menu
#burger-btn {
    display: none;
    order: 4;
    &:checked ~ nav {
        right: 90px;
        opacity: 1;
        @media (max-width:605px) {
            right: 20px;
        }
    }
    &:checked ~ .header-buttons {
        right: 20px;
        opacity: 1;
    }
}
.burger-menu {
    display: none;
    order: 5;
    @media (max-width:768px) {
        display: flex;
        align-items: center;
        width: 25px;
        height: 25px;
    } 

    span {
        position: relative;
        display: block;
        width: 25px;
        height: 3px;
        background-color: $btnBackground;

        &::after {
            position: absolute;
            top: -7.5px;
            display: block;
            content: '';
            width: 25px;
            height: 3px;
            background-color: $btnBackground;
        }

        &::before {
            position: absolute;
            top: 8px;
            display: block;
            content: '';
            width: 25px;
            height: 3px;
            background-color: $btnBackground;
        }
    }
}