.tools {
    margin-bottom: 100px;

    @media (min-width:768px) {
        margin-bottom: 200px;
    }

    .container {
        width: 94%;
        margin: 0 auto;
        padding: 0 ;
    
        @media (min-width: 768px) {
            width: 750px;
        }
    
        @media (min-width: 1220px) {
            width: 1200px;
        }
    }

    &_title {
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
        @include textColor (0.9);
        
        @media (min-width: 768px) {
            font-size: 38px;
        }

        @media (min-width: 1220px) {
            font-size: 48px;
        }
    }

    &_subtitle {
        @include textColor (0.55);
        margin-bottom: 60px;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }


    &_list {
        margin-bottom: 50px;

        @media (min-width:768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 100px 30px;
            margin-bottom: 100px;
        }

        @media (min-width:1220px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

.card {
    max-width: 390px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    @include hover ();

    &:not(:last-child) {
            @media (max-width:767px) {
            margin-bottom: 30px;
        }
    }
    
    &:hover {
        background-color: #28303699;
    }

    &:hover .circle {
        opacity: 1;
    }

    &:hover .card_title {
        @include textColor (0.9);
    }

    &:hover .card_link {
        color: #FFA537;
    }

    &:hover .card_description {
        @include textColor (0.78);
    }

    &:hover svg {
        fill: #FFFFFF8C;
    }

    &:hover .card_btn {
        background: $btnBackground;
        @include textColor (1);
    }

    .circle {
        width: 65px;
        height: 65px;
        background-color: #FF6E3099;
        border-radius: 50%;
        filter: blur(50px);
        position: absolute;
        top: 0;
        right: 15px;
        opacity: 0;
        @include hover ();
    }

    &_wrap {
        display: flex;
        gap: 15px;
        margin-bottom: 30px;
    }

    &_title_wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_title {
        font-size: 20px;
        font-weight: 500;
        @include textColor (0.78);
        @include hover ();

        @media (min-width:1220px) {
            font-size: 24px;
        }
    }

    &_link {
        color: #FFA5378C;
        font-size: 16px;
        @include hover ();

        @media (min-width:1220px) {
            font-size: 18px;
        }

        &:hover {
            color: $btnBackground !important;
        }
    }

    &_description {
        @include textColor (0.55);
        margin-bottom: 30px;
        @include hover ();

        @media (min-width:1220px) {
            font-size: 16px;
        }
    }

    &_btn_wrap {
        display: flex;
        justify-content: space-between;
    }

    .input_wrap {
        display: flex;
        gap: 20px;

        .like_input {
            display: none;
        }
    
        .like_label {
            cursor: pointer; 
        }
    
        .like_input:checked ~ .like_label svg {
            fill: #FD3B41;
            @include hover ();
        }
    
        .like_label_svg,
        .file_btn_svg {
            fill: #FFFFFF61;
            @include hover ();
        } 
    
        .file_btn {
            &:hover .file_btn_svg {
                fill: $btnBackground;
            }
        }
    }

    &_btn {
        width: 100px;
        height: 40px;
        @include textColor (0.55);
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        @include hover ();

        &:hover {
            background-color: #a0461f !important;
        }
    }
}

.tools_btn {
    background: #1E252B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-weight: 500;
    color: $btnBackground;
    margin: 0 auto;
    @include hover ();

    @media (min-width:768px) {
        width: 160px;
        height: 55px;
        font-size: 18px;
    }

    &:hover {
        background-color: $btnBackground;
        @include textColor (0.9);
    }
}