/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"), url("../fonts/poppins-v20-latin-500.ttf") format("truetype"), url("../fonts/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"), url("../fonts/poppins-v20-latin-600.ttf") format("truetype"), url("../fonts/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1E252B;
  color: rgba(255, 255, 255, 0.5490196078);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  position: relative;
}
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

.wraper {
  overflow-x: hidden;
  position: relative;
}
.wraper::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0 auto;
  padding-left: 108px;
  padding-right: 108px;
  width: 100%;
  max-width: 1250px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (max-width: 605px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

main {
  margin-bottom: 250px;
}
@media (max-width: 767px) {
  main {
    margin-bottom: 150px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.header {
  padding: 26px 0 0;
}
@media (max-width: 768px) {
  .header {
    padding-bottom: 26px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container:hover .header-buttons button {
  background-color: #FF6E30;
  color: #FDF5FF;
}
.header .logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.header h1 {
  margin: 0;
  display: inline;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 1.2222222em;
  line-height: 33px;
}
@media (max-width: 768px) {
  .header nav {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #1E252B;
    transition: right 0.3s;
    padding: 26px 90px 0;
  }
}
@media (max-width: 605px) {
  .header nav {
    padding: 26px 20px 0;
  }
}
.header .menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media (max-width: 768px) {
  .header .menu-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header .menu-list-link {
  text-align: center;
  text-decoration: none;
  color: hsla(0deg, 0%, 100%, 0.549);
  font-weight: 500;
  font-size: 0.888888em;
  line-height: 24px;
  display: inline-block;
}
.header .categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  left: 0;
  flex-direction: column;
  -moz-column-gap: 35px;
       column-gap: 35px;
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s;
}
@media (max-width: 768px) {
  .header .categories-list {
    flex-direction: unset;
    left: 110px;
    bottom: 0px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    transform: scaleX(0);
    transform-origin: left;
  }
}
@media (max-width: 600px) {
  .header .categories-list {
    left: 100px;
  }
}
.header .categories-list-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: 500;
  font-size: 0.888888em;
  line-height: 24px;
}
.header .header-buttons {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 13px;
       column-gap: 13px;
  transition: right 0.3s;
}
@media (max-width: 768px) {
  .header .header-buttons {
    transform: translateX(50%);
  }
}
@media (max-width: 605px) {
  .header .header-buttons {
    position: absolute;
    right: -100%;
    top: 400px;
  }
}
.header .login {
  text-align: center;
  display: inline-block;
  background: none;
  border-radius: 8px;
  border: none;
  width: 118px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: 600;
  font-size: 0.88888em;
  line-height: 24px;
  padding: 0;
  transition: color 0.3s, background-color 0.5s;
}
.header .login:hover {
  background-color: #a0461f !important;
}
@media (max-width: 1024px) {
  .header .login {
    width: 100px;
    height: 40px;
  }
}
.header .sing-in {
  text-align: center;
  display: inline-block;
  background: none;
  border-radius: 8px;
  border: none;
  width: 118px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: 600;
  font-size: 0.88888em;
  line-height: 24px;
  padding: 0;
  transition: color 0.3s, background-color 0.5s;
}
.header .sing-in:hover {
  background-color: #a0461f !important;
}
@media (max-width: 1024px) {
  .header .sing-in {
    width: 100px;
    height: 40px;
  }
}

.menu-list-item-sub {
  text-decoration: none;
  position: relative;
}
.menu-list-item-sub::after {
  content: "";
  width: 7px;
  height: 7px;
  position: relative;
  transform: rotate(45deg);
  display: inline-block;
  left: 5px;
  bottom: 2px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-color: rgba(255, 255, 255, 0.5490196078);
  border-radius: 2px;
}
.menu-list-item-sub:hover .categories-list {
  transform: scaleY(1);
}
@media (max-width: 768px) {
  .menu-list-item-sub:hover .categories-list {
    transform: scaleX(1);
  }
}
.menu-list-item-sub:hover::after {
  transform: rotate(225deg);
  bottom: -3px;
  left: 5px;
}

#burger-btn {
  display: none;
  order: 4;
}
#burger-btn:checked ~ nav {
  right: 0;
}
#burger-btn:checked ~ .header-buttons {
  right: 50%;
}
#burger-btn:checked ~ .burger-menu span {
  transform: rotate(45deg);
}
#burger-btn:checked ~ .burger-menu span::after {
  top: 0;
  transform: rotate(90deg);
}
#burger-btn:checked ~ .burger-menu span::before {
  top: 0;
}

.burger-menu {
  display: none;
  order: 5;
}
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    z-index: 2;
  }
}
.burger-menu span {
  position: relative;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #FF6E30;
  transition: transform 0.3s;
}
.burger-menu span::after {
  position: absolute;
  top: -7.5px;
  display: block;
  content: "";
  width: 25px;
  height: 3px;
  background-color: #FF6E30;
  transition: transform 0.3s, top 0.3s;
}
.burger-menu span::before {
  position: absolute;
  top: 8px;
  display: block;
  content: "";
  width: 25px;
  height: 3px;
  background-color: #FF6E30;
  transition: transform 0.3s, top 0.3s;
}

.home {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 104px;
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .home {
    background-size: contain;
    padding-top: 76px;
  }
}
@media (max-width: 600px) {
  .home {
    padding-top: 60px;
    margin-bottom: 100px;
  }
}
.home .home-wrap {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .home .home-wrap {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.home .title {
  font-size: 2.777em;
  font-weight: 500;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}
.home .title span {
  color: #FF6E30;
}
@media (max-width: 768px) {
  .home .title {
    line-height: 50px;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .home .title {
    line-height: 40px;
    margin-bottom: 10px;
  }
}
.home .sub-title {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .home .sub-title {
    margin-bottom: 45px;
  }
}
@media (max-width: 600px) {
  .home .sub-title {
    margin-bottom: 30px;
  }
}
.home .search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 497.66px;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  padding: 0 11px 0 18px;
  margin-bottom: 90px;
}
.home .search:hover .submit {
  background-color: #FF6E30;
  color: #FDF5FF;
}
.home .search svg {
  width: 24.08px;
  height: 24px;
}
@media (max-width: 768px) {
  .home .search {
    margin-bottom: 80px;
  }
}
@media (max-width: 600px) {
  .home .search {
    width: 280px;
    height: 50px;
    margin-bottom: 60px;
  }
}
.home .mg_and_input {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
@media (max-width: 600px) {
  .home .mg_and_input {
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
}
.home #find {
  background: none;
  border: none;
  font-size: 0.777em;
  line-height: 21px;
  width: 190px;
  color: #837A93;
}
.home #find::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.home #find::content {
  color: #837A93;
}
.home #find:focus::-webkit-input-placeholder {
  opacity: 0;
}
.home #find:focus {
  outline: none;
  border: none;
  caret-color: #837A93;
}
@media (max-width: 600px) {
  .home #find {
    width: 160px;
  }
}
.home .submit {
  text-align: center;
  display: inline-block;
  background: none;
  border-radius: 8px;
  border: none;
  width: 130px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: 600;
  font-size: 0.88888em;
  line-height: 24px;
  padding: 0;
  transition: color 0.3s, background-color 0.5s;
}
.home .submit:hover {
  background-color: #a0461f !important;
}
@media (max-width: 1024px) {
  .home .submit {
    width: 100px;
    height: 40px;
  }
}
@media (max-width: 605px) {
  .home .submit {
    width: 85px;
    height: 25px;
  }
}
.home .social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.home .social-list-item {
  width: 36px;
  height: 36px;
}
.home .social-list-item:first-child {
  width: 26px;
  height: 26px;
}
.home .social-list-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.home .social-list path {
  transition: fill 0.5s;
}
.home .social-list path:hover {
  fill: #FF6E30;
}
.home .social-list svg {
  fill: rgba(255, 255, 255, 0.78);
  width: 36px;
  height: 36px;
  transition: fill 0.5s;
}
.home .social-list svg:hover {
  fill: #FF6E30;
}
.home .social-list .first {
  width: 26px;
  height: 26px;
}

.tools {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .tools {
    margin-bottom: 200px;
  }
}
.tools .container {
  width: 94%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .tools .container {
    width: 750px;
  }
}
@media (min-width: 1220px) {
  .tools .container {
    width: 1200px;
  }
}
.tools_title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .tools_title {
    font-size: 38px;
  }
}
@media (min-width: 1220px) {
  .tools_title {
    font-size: 48px;
  }
}
.tools_subtitle {
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 60px;
  text-align: center;
}
@media (min-width: 768px) {
  .tools_subtitle {
    font-size: 18px;
  }
}
.tools_list {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .tools_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 100px 30px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1220px) {
  .tools_list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.card {
  max-width: 390px;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.card:hover {
  background-color: rgba(40, 48, 54, 0.6);
}
.card:hover .circle {
  opacity: 1;
}
.card:hover .card_title {
  color: rgba(255, 255, 255, 0.9);
}
.card:hover .card_link {
  color: #FFA537;
}
.card:hover .card_description {
  color: rgba(255, 255, 255, 0.78);
}
.card:hover svg {
  fill: rgba(255, 255, 255, 0.5490196078);
}
.card:hover .card_btn {
  background: #FF6E30;
  color: rgb(255, 255, 255);
}
.card .circle {
  width: 65px;
  height: 65px;
  background-color: rgba(255, 110, 48, 0.6);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
  top: 0;
  right: 15px;
  opacity: 0;
  transition: all 0.4s;
}
.card_wrap {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.card_title_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.78);
  transition: all 0.4s;
}
@media (min-width: 1220px) {
  .card_title {
    font-size: 24px;
  }
}
.card_link {
  color: rgba(255, 165, 55, 0.5490196078);
  font-size: 16px;
  transition: all 0.4s;
}
@media (min-width: 1220px) {
  .card_link {
    font-size: 18px;
  }
}
.card_link:hover {
  color: #FF6E30 !important;
}
.card_description {
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 30px;
  transition: all 0.4s;
}
@media (min-width: 1220px) {
  .card_description {
    font-size: 16px;
  }
}
.card_btn_wrap {
  display: flex;
  justify-content: space-between;
}
.card .input_wrap {
  display: flex;
  gap: 20px;
}
.card .input_wrap .like_input {
  display: none;
}
.card .input_wrap .like_label {
  cursor: pointer;
}
.card .input_wrap .like_input:checked ~ .like_label svg {
  fill: #FD3B41;
  transition: all 0.4s;
}
.card .input_wrap .like_label_svg,
.card .input_wrap .file_btn_svg {
  fill: rgba(255, 255, 255, 0.3803921569);
  transition: all 0.4s;
}
.card .input_wrap .file_btn:hover .file_btn_svg {
  fill: #FF6E30;
}
.card_btn {
  width: 100px;
  height: 40px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.4s;
}
.card_btn:hover {
  background-color: #a0461f !important;
}

.tools_btn {
  background: #1E252B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  color: #FF6E30;
  margin: 0 auto;
  transition: all 0.4s;
}
@media (min-width: 768px) {
  .tools_btn {
    width: 160px;
    height: 55px;
    font-size: 18px;
  }
}
.tools_btn:hover {
  background-color: #FF6E30;
  color: rgba(255, 255, 255, 0.9);
}

.brand {
  margin-bottom: 150px;
}
.brand .container {
  width: 94%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .brand .container {
    width: 750px;
  }
}
@media (min-width: 1220px) {
  .brand .container {
    width: 1200px;
  }
}
.brand_wrap {
  width: 100%;
  padding: 55px 20px 60px;
  background: rgba(44, 53, 61, 0.2);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1220px) {
  .brand_wrap {
    padding: 55px 50px 60px;
  }
}
.brand .circle {
  width: 160px;
  height: 160px;
  background-color: rgba(255, 72, 66, 0.4);
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
}
.brand_title {
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .brand_title {
    font-size: 24px;
  }
}
.brand_list {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .brand_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 60px;
    margin: 0;
    max-width: 100%;
  }
}
@media (min-width: 1220px) {
  .brand_list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0 100px;
  }
}
.brand_list_item {
  height: 50px;
}
@media (max-width: 768px) {
  .brand_list_item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.brand_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand_link svg {
  fill: rgba(255, 255, 255, 0.2);
  transition: all 0.4s;
}
.brand_link:hover svg {
  fill: rgba(255, 255, 255, 0.8980392157);
}

.newcomer .container {
  width: 94%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .newcomer .container {
    width: 750px;
  }
}
@media (min-width: 1220px) {
  .newcomer .container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.newcomer_title_wrap {
  margin-bottom: 70px;
}
.newcomer_title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .newcomer_title {
    font-size: 38px;
  }
}
@media (min-width: 1220px) {
  .newcomer_title {
    font-size: 48px;
    text-align: unset;
  }
}
.newcomer_subtitle {
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 90px;
  text-align: center;
}
@media (min-width: 768px) {
  .newcomer_subtitle {
    font-size: 18px;
  }
}
@media (min-width: 1220px) {
  .newcomer_subtitle {
    text-align: unset;
    max-width: 430px;
  }
}
.newcomer_btn {
  background-color: #FF6E30;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  transition: all 0.4s;
}
.newcomer_btn:hover {
  background-color: #a0461f;
}
@media (min-width: 768px) {
  .newcomer_btn {
    width: 160px;
    height: 55px;
    font-size: 18px;
  }
}
@media (min-width: 1220px) {
  .newcomer_btn {
    margin: 0;
  }
}
.newcomer_list {
  display: grid;
  grid-template-columns: 288px;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
}
@media (min-width: 768px) {
  .newcomer_list {
    grid-template-columns: repeat(2, 288px);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px 24px;
  }
}
.newcomer .card .circle {
  right: 0;
  transform: translate(50%, -50%);
}

.join:hover .join_form_btn {
  background-color: #FF6E30;
  color: #FDF5FF;
}
.join .container {
  text-align: center;
}
.join_title {
  color: rgba(255, 255, 255, 0.9);
  height: 62px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 250px;
}
.join_subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  max-width: 430px;
  margin: 0 auto 100px;
}
.join_form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 497.66px;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  padding: 0 11px 0 18px;
  margin-bottom: 240px;
  margin: 0 auto;
  gap: 10px;
  max-width: 100%;
}
.join_form_email {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
  background: #283036;
  border: 2px #283036 solid;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins";
  width: 70%;
  border-radius: 5px;
  line-height: 100%;
  height: 48px;
  color: rgba(255, 255, 255, 0.9);
}
.join_form_email:required:focus:invalid:not(:-moz-placeholder-shown) {
  border: 2px red solid;
}
.join_form_email:required:focus:invalid:not(:-ms-input-placeholder) {
  border: 2px red solid;
}
.join_form_email:required:focus:invalid:not(:placeholder-shown) {
  border: 2px red solid;
}
.join_form_email:required:focus:valid:not(:-moz-placeholder-shown) {
  border: 2px green solid;
}
.join_form_email:required:focus:valid:not(:-ms-input-placeholder) {
  border: 2px green solid;
}
.join_form_email:required:focus:valid:not(:placeholder-shown) {
  border: 2px green solid;
}
.join_form_email::-moz-placeholder {
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: rgba(255, 255, 255, 0.38);
}
.join_form_email:-ms-input-placeholder {
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: rgba(255, 255, 255, 0.38);
}
.join_form_email::placeholder {
  transition: opacity 0.5s;
  color: rgba(255, 255, 255, 0.38);
}
.join_form_email:focus {
  outline: none;
  border: none;
  caret-color: #837A93;
}
.join_form_email:focus::-moz-placeholder {
  opacity: 0;
}
.join_form_email:focus:-ms-input-placeholder {
  opacity: 0;
}
.join_form_email:focus::placeholder {
  opacity: 0;
}
.join_form_btn {
  text-align: center;
  display: inline-block;
  background: none;
  border-radius: 8px;
  border: none;
  width: 30%;
  height: 48px;
  color: white;
  font-weight: 600;
  font-size: 0.88888em;
  line-height: 24px;
  padding: 0;
  transition: color 0.3s, background-color 0.5s;
  cursor: pointer;
}
.join_form_btn:hover {
  background-color: #a0461f !important;
}

.footer {
  border-top: 0.5px solid rgba(255, 255, 255, 0.1490196078);
  padding: 70px 0 100px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
}
.footer_list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media (max-width: 1024px) {
  .footer_list {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 767px) {
  .footer_list {
    flex-direction: column;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 40px;
  }
}
.footer_info {
  max-width: 260px;
}
.footer_logo_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}
.footer_logo {
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.footer .img_wrap {
  background-color: #FF6E30;
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.footer_copyright {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 21px;
}
.footer_description {
  font-size: 14px;
}
.footer .item_title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}
.footer .item_link {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  transition: all 0.3s;
}
.footer .item_link:hover {
  color: #FF6E30;
}
.footer .item_item:not(:last-child) {
  margin-bottom: 10px;
}